<!--
Program:      Netd 3202 Lab 5 Salon Webpage
Created by:   Jacky Yuan
Date:         Dec 04, 2020
Purpose:      Basic website for a hair salon
Change log:   N/A
-->
@{
    ViewData["Title"] = "Home Page";
}
<!--Page that gets displayed if an improper entry is entered while creating a client or stylist-->
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Error</h1>
    <p>Error with the inputted data. Please review your inputs and try again.</p>
</div>

<hr />
<div class="text-center">
    <img src="~/images/logo.PNG" width="150">
</div>
