<!--
Program:      Netd 3202 Lab 5 Salon Webpage
Created by:   Jacky Yuan
Date:         Dec 04, 2020
Purpose:      Basic website for a hair salon
Change log:   N/A
-->
@{
    ViewData["Title"] = "Home Page";
}

<!--main home page for the website-->
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome to Fresh Prince of Bel-Hair</h1>
    <p>Take your hair styling to the next level at Fresh Prince. <br />With our team of professional stylists, we'll make sure your every hair cut is looking fresh.</p>
</div>

<!--Creates a collage of pictures showcasing our salon and clients-->
<div class="row">
    <div class="column">
        <img src="~/images/guy2.jpeg">
        <img src="~/images/salon3.jpeg">
        <img src="~/images/lady4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/salon1.jpeg">
        <img src="~/images/lady1.jpg">
        <img src="~/images/guy4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/lady2.jpeg">
        <img src="~/images/guy1.jpeg">
        <img src="~/images/salon4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/lady3.jpeg">
        <img src="~/images/salon2.jpeg">
        <img src="~/images/guy3.jpeg">
    </div>
</div>
<hr />
<div class="text-center">
    <img src="~/images/logo.PNG" width="150">
</div>
