@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome to Fresh Prince of Bel-Hair</h1>
    <p>Take your hair styling to the next level.</p>
</div>

<div class="row">
    <div class="column">
        <img src="~/images/guy2.jpeg">
        <img src="~/images/salon3.jpeg">
        <img src="~/images/lady4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/salon1.jpeg">
        <img src="~/images/lady1.jpg">
        <img src="~/images/guy4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/lady2.jpeg">
        <img src="~/images/guy1.jpeg">
        <img src="~/images/salon4.jpeg">
    </div>
    <div class="column">
        <img src="~/images/lady3.jpeg">
        <img src="~/images/salon2.jpeg">
         <img src="~/images/guy3.jpeg">
    </div>
</div>