@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />

<p>Your information is important to us. No data will be given or used without the owner's consent.</p>

<hr />
<div class="text-center">
    <img src="~/images/logo.PNG" width="150">
</div>
